[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
cffi = "*"
mypy-protobuf = "*"
asyncio = "*"
protobuf = "*"
pytest-asyncio = "*"
atomics = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
hatch = "*"
twine = "*"
invoke = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
mkdocs = "*"
mkdocstrings = "*"
napoleon = "*"

[requires]
python_version = "3.11"
